version: '3.8'
services:
  escpos-printer-simulator:
    build: .
    image: escpos-printer-simulator
    environment:
      - DISPLAY=host.docker.internal:0
    ports:
      - "9100:9100"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host

